body {
    margin: 0;
    padding: 0;
    background-size: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid ghostwhite;
    height: 100px;
}

header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 100%;
    color: rgb(197, 197, 197);
    margin-right: 50px;
    list-style: none;
}

header img {
    height: 100px;
    width: 100px;
    margin-left: 50px;
}

container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../img/fundoIndex.png");
}